a, h1, h2, h3, h4, h5, h6, p {
font-family: 'Open Sans', sans-serif;
color: white;
}

a:link {
	font-weight: bold;
}

a:hover {
	color: #CCFF99;
}

.wrapper{
	background: black;
	padding: 2%;
}

.center {
	text-align: center;
}

#learnCode a, #practiceCode a, #colorTools a {
	font-size: 1.5em;
}
#learnCode h3, #practiceCode h3, #colorTools h3 {
	font-size: 2.5em;
	font-weight: bold;
	margin: 5%;
}

/* Learn Code section */
#learnCode {
	border-radius: 10px 10px 0 0;
	background: #334779;
	padding-bottom: 5%;
}

#learnCode p {
	margin: 25px;
}


/* Practice Code section */
#practiceCode {
	background: #266A6D;
	padding-bottom: 5%;
}

#practiceCode p {
	margin: 25px;
}

/* Color Tools section */
#colorTools {
	background: #B58E3F;
	padding-bottom: 5%;
}

#colorTools p {
	margin: 25px;
}


/* Default image rules -- Will need to be changed in the future -- */
img {
	margin: 25px;
	border-radius: 10px;
	border: solid 5px white;
	opacity: 1;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

img:hover {
	opacity: 0.5;
	transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}